ul li{
	list-style: none;
}
.main-wrapper {
    width: 955px;
    margin: 0 auto;
	border: 1px solid;
    border-radius: 10px;
}
.header-top {
    display: flex;
    flex-direction: row;
    max-height: 120px;
    align-items: center;
}
.header-top .header-left {
    display: flex;
    flex-direction: row;
}
.header-top .header-left .header-logo{
	margin: 15px 20px 15px 30px;
}
.header-top .header-left .header-logo img {
    max-height: 100px;
    width: auto;
}
.header-left .header-text h1 {
    font-size: 60px;
    margin: 0;  
    padding-top: 19px;
}
.header-left .header-text h4 {
    font-size: 15px;
    margin: 0px;
}
.header-top .header-left .header-black-batton {
    margin: 25px;
}
.header-right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.header-right .phone-number h3 {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 18px;
    margin-right: 27px;
}
.header-top .header-right .social {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: flex-end;
}
.header-top .header-right .social .email-icon {
    margin-right: 9px;
}
.header-bottom .nev ul.nev-list {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: #ffffff;
    margin: 0 12px;
    margin-top: 3px;
    margin-bottom: 12px;
    border-radius: 6px;
}
.header-bottom .nev ul.nev-list li {
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.header-bottom .nev ul.nev-list li span {
    padding-left: 13px;
}
.content .banner {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: #ffffff;
    margin: 0 12px;
    border-radius: 9px;
}
.content .banner .banner-left-text {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;}
.content .banner .banner-left-text h4{
    transform: rotate(-90deg);
    width: 72px;
}
.content .banner .banner-logo {
    margin-top: 11px;
    margin-bottom: 4px;
}
.content .banner .banner-right-text {
    margin: 18px;
}
.banner .banner-right-text ul.text-list {
    display: flex;
    flex-direction: column;
    transform: rotate(-90deg);
}
.banner .banner-right-text ul.text-list li {
    list-style: none;
}
.content .basil-mizrahi {
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
    margin: 3px 12px 3px 12px;
    border-radius: 8px;
}
.content .basil-mizrahi h1 {
    margin: 24px;
}
.content .basil-mizrahi h4 {
    margin: 36px 23px 36px 23px;
}
.content .gallary{
    padding: 11px;
    margin-top: -27px;
}
.content .gallary ul.gallary-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}
 .content .gallary ul.gallary-list li{
    display: flex;
    flex-direction: column;
    width: 25%;
}
 .content .gallary ul.gallary-list li span{
    margin-top: -56px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 0 31px;
}
.fotter .fotter-top ul.fotter-top-text-list {
    display: flex;
    flex-direction: row;
    margin: 12px 50px 16px 100px;
}
.fotter .fotter-top ul.fotter-top-text-list li {
	margin: 0px 0px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.fotter .fotter-top ul.fotter-top-text-list li span{
    padding-left: 10px;
    padding-right: 10px;
}
.fotter .fotter-bottom{
	margin: 16px 0px 28px 0px;

}
.fotter .fotter-bottom p {
    text-align: center;
    font-size: 13px;
}